@import "tailwindcss";
@plugin "daisyui";



@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";
@import "swiper/css/free-mode";
@import "swiper/css/thumbs";    