@font-face {
  font-family: Pinar;
  src: url("./assets/Pinar-FD-VF.woff2") format("truetype");
}


body {
  font-family: 'Pinar', sans-serif;
  direction: rtl;
  font-weight: 400;
    background-color: white;
    color: black;
  }